extends layout.pug

block title
	+title('Big Board')

block append scripts
	script(src='/js/bigBoard.js' type='text/javascript')

block content
	table#big-board(border='1')
		thead
			tr
				th.name Name
				th.score Score
				each game in games
					th
						p.teams
							a(href='https://www.mlb.com/gameday/' + game._id)
								| #{game.away.team.teamName}
								br
								| at #{game.home.team.teamName}

						p
							| #{game.seriesDescription}
							if game.gamesInSeries > 1
								br
								| Game #{game.seriesGameNumber}
								if game.ifNecessary == 'Y'
									| *
							else
								|
								br
								|
								br

						p
							if game.status == 'PR'
								| #{dateFormat(game.startTime, 'mmmm dS', true)}
								br
								| Delayed
							else if game.startTime.getMinutes() == 33
								| #{dateFormat(game.startTime, 'mmmm dS', true)}
								br
								| TBD
							else
								| #{dateFormat(game.startTime, 'mmmm dS')}
								br
								| #{dateFormat(game.startTime, 'h:MMtt')} ET

						p
							| #{game.points} point
							if game.points > 1
								| s
				th.erocs Score
				th.eman Name
		tbody
			each user in users
				tr(class=session && session.user._id.toString() == user._id ? 'my-row' : '')
					td.name #{user.firstName} #{user.lastName}
					td.score
						span.tiebreaker (#{user.tiebreaker})
						|
						| #{user.score}

					each game in games
						- var hitClasses = [];
						if game.hasStarted() && game.mappedPicks[user._id] && game.hits.indexOf(game.mappedPicks[user._id]._id) > -1
							- hitClasses.push('hit')
						else if (game.hasStarted() && !game.mappedPicks[user._id]) || (game.isOver() && game.hits.indexOf(game.mappedPicks[user._id]._id) == -1)
							- hitClasses.push('no-hit')

						if !game.hasStarted()
							if session && session.user._id.toString() == user._id
								- hitClasses.push('pickable')

							if !game.mappedPicks[user._id]
								- hitClasses.push('unpicked')

						td(class=hitClasses)
							if session && session.user._id.toString() == user._id && !game.hasStarted()
								a.open-game(href='/games/' + game._id data-game-id=game._id data-user-id=user._id)
									if game.mappedPicks[session.user._id]
										| #{game.mappedPicks[session.user._id].name}
									else
										| Make a Pick
							else if game.hasStarted()
								if game.mappedPicks[user._id]
									| #{game.mappedPicks[user._id].name}
								else
									| --

					td.score
						span.tiebreaker (#{user.tiebreaker})
						|
						| #{user.score}
					td.eman #{user.firstName} #{user.lastName}

	div#modal
		div#away-team
			div.name
			div.probable-pitcher
			div.batters.starting-lineup
			div.batters.bench

		div#home-team
			div.name
			div.probable-pitcher
			div.batters.starting-lineup
			div.batters.bench
