- var title = 'Big Board'

- var additionalJsFiles = [ '/js/bigBoard.js' ];

include header.pug

body
	include masthead.pug

	table(border='1')
		tr
			td
				each game in games
					th
						p.teams
							a(href='https://www.mlb.com/gameday/' + game._id)
								| #{game.away.team.teamName}
								br
								| at #{game.home.team.teamName}

						p
							| #{game.seriesDescription}
							if game.gamesInSeries > 1
								br
								| Game #{game.seriesGameNumber}
								if game.ifNecessary == 'Y'
									| *
							else
								|
								br
								|
								br

						p
							if game.startTime.getMinutes() == 33
								| #{dateFormat(game.startTime, 'mmmm dS', true)}
								br
								| TBD
							else
								| #{dateFormat(game.startTime, 'mmmm dS')}
								br
								| #{dateFormat(game.startTime, 'h:MMtt')}
		each user in users
			tr
				td.name #{user.firstName} #{user.lastName}

				each game in games
					td
						if game.hasStarted()
							if game.mappedPicks && game.mappedPicks[user._id]
								| #{game.mappedPicks[user._id].name}
								if game.hits.indexOf(game.mappedPicks[user._id]._id) > -1
									| !!!
							else
								| --

						if session && session.user.username == user.username && !game.hasStarted()
							a.open-game(href='/games/' + game._id data-game-id=game._id data-user-id=user._id)
								if game.mappedPicks && game.mappedPicks[session.user._id]
									| #{game.mappedPicks[session.user._id].name}
								else
									| pick

	div#modal
		div#away-team
			div.name
			div.batters
			div.pitchers

		div#home-team
			div.name
			div.batters
			div.pitchers
