- var title = 'Big Board'

include header.pug
body
	h1.title Pick-a-Hit
	if session
		ul.navigation
			li: a(href='/users/edit/' + session.user._id) Settings
			li: a(href='/logout') Log Out
	else
		form.login(method='POST' action='/sessions')
			input(type='text' name='username' placeholder='Username')
			|
			|
			input(type='password' name='password' placeholder='Password')
			|
			|
			button(type='submit') Log In

	table(border='1')
		tr
			td
				each game in games
					th
						p.teams
							a(href='https://www.mlb.com/gameday/' + game._id)
								| #{game.awayTeam.teamName}
								br
								| at #{game.homeTeam.teamName}

						p
							| #{game.seriesDescription}
							if game.gamesInSeries > 1
								br
								| Game #{game.seriesGameNumber}
								if game.ifNecessary == 'Y'
									| *
							else
								|
								br
								|
								br

						p
							| #{dateFormat(game.startTime, 'mmmm dS')}
							br
							if game.startTime.getMinutes() == 33
								| TBD
							else
								| #{dateFormat(game.startTime, 'h:MMtt')}
		each user in users
			tr
				td.name #{user.firstName} #{user.lastName}

				each game in games
					td
