mixin title(title)
	if title
		title #{title} &laquo; Pick-a-Hit &laquo; Coinflipper
	else
		title Pick-a-Hit &laquo; Coinflipper

mixin teamRow(game, side)
	li.team-row.list-group-item.py-1
		div.row
			div.col-10.offset-1.p-0
				div.d-flex
					img.p-1.mr-1(src='/images/' + game[side].team.abbreviation.toLowerCase() + '.png')
					div.d-flex.flex-column.flex-grow-1
						h5.mb-0.text-nowrap
							a.font-weight-bold(href='#')
								span.d-inline.d-sm-none.d-md-inline #{game[side].team.teamName}
								span.d-none.d-sm-inline.d-md-none #{game[side].team.abbreviation}
						div.pitcher.mb-0.text-nowrap
							if game[side].probablePitcher
								a.text-muted(href='http://m.mlb.com/player/' + game[side].probablePitcher._id target='_blank')= game[side].probablePitcher.name
							else
								span TBD

mixin gameCard(game)
	-
		var classes = {
			card: { border: [] },
			header: { background: [], linkText: [] }
		}

		if (game.mappedPicks[session.user._id.toString()]) {
			classes.card.border.push('border-secondary');
		}

		if (game.hasStarted() && !game.isFinal()) {
			classes.header.background.push('bg-primary');
			classes.header.linkText.push('text-white');
		}

		if (game.hasStarted()) {
			classes.header.linkText.push('text-white');

			if (!game.mappedPicks[session.user._id.toString()]) {
				classes.header.background.push('bg-danger');
			}
			else if (game.mappedPicks[session.user._id.toString()] && game.flatHits.indexOf(game.mappedPicks[session.user._id.toString()]._id) > -1) {
				classes.header.background.push('bg-success');
			}
			else {
				classes.header.background.push('bg-primary');
			}
		}

		if (game.isFinal()) {
			if (game.mappedPicks[session.user.id.toString()]) {
				classes.header.linkText.push('text-white');
			}

			if (game.mappedPicks[session.user._id.toString()] && game.flatHits.indexOf(game.mappedPicks[session.user._id.toString()]._id) > -1) {
				classes.header.background.push('bg-success');
			}
			else {
				classes.header.background.push('bg-danger');
			}
		}

	div.col-xs-12.col-sm-6.col-md-6.col-lg-4.mb-4(id='game-' + game._id)
		div.card(class=classes.card.border)
			div.card-header.py-1(class=classes.header.background)
				div.row.justify-content-center
					div.col-10.text-center
						a(href='https://www.mlb.com/gameday/' + game._id class=classes.header.linkText target='_blank')
							if game.isFinal()
								| Final
							else if game.hasStarted()
								| In Progress
							else
								| #{dateFormat(game.startTime, 'h:MMtt')} ET
			ul.list-group.list-group-flush
				li.list-group-item.py-1
					div.row
						div.col-6.text-left
							p.mb-0.text-nowrap: small #{game.seriesDescription}, Game #{game.seriesGameNumber}
						div.col-6.text-right
							p.mb-0.text-nowrap: small: strong #{game.points} point#{game.points > 1 ? 's' : ''}
				+teamRow(game, 'away')
				+teamRow(game, 'home')
			div.card-footer.text-center
				div.btn-group
					+hitterButton(session, game)

mixin hitterButton(session, game)
	-
		var button = { classes: [], actionLink: null };

		if (!game.hasStarted()) {
			if (game.mappedPicks[session.user._id.toString()]) {
				button.classes.push('btn-secondary');
			}
			else {
				button.classes.push('btn-outline-secondary');
			}
		}
		else {
			button.classes.push('text-white');

			if (!game.mappedPicks[session.user._id.toString()]) {
				button.classes.push('btn-danger');
			}
			else if (game.flatHits.indexOf(game.mappedPicks[session.user._id.toString()]._id) > -1) {
				button.classes.push('btn-success');
			}
			else {
				if (game.isFinal()) {
					button.classes.push('btn-danger');
				}
				else {
					button.classes.push('btn-secondary');
				}
			}
		}

	a.team-button.text-center.btn.open-game(href=`/games/${game._id}` class=button.classes data-game-id=game._id)
		if !game.hasStarted()
			if game.mappedPicks[session.user.id.toString()]
				span #{game.mappedPicks[session.user._id.toString()].name}
			else
				span Pick a Hitter
		else
			if game.mappedPicks[session.user.id.toString()]
				span #{game.mappedPicks[session.user._id.toString()].name}
			else
				span No Hitter Picked

mixin scheduleNav(yesterday, today, tomorrow)
	ul.nav.justify-content-center
		if dateFormat(yesterday, 'yyyy-mm-dd HH:MM:ss') >= process.env.POSTSEASON_START_TIME
			li.nav-item
				a.nav-link(href='/schedule/' + dateFormat(yesterday, 'yyyy-mm-dd'))
					span.d-none.d-sm-inline &laquo; #{dateFormat(yesterday, 'mmmm d')}
					span.d-sm-none &laquo; #{dateFormat(yesterday, 'mmm d')}
		li.nav-item
			a.nav-link.disabled(href='/schedule/' + dateFormat(today, 'yyyy-mm-dd'))
				span.d-none.d-sm-inline #{dateFormat(today, 'mmmm d')}
				span.d-sm-none #{dateFormat(today, 'mmm d')}
		if dateFormat(tomorrow, 'yyyy-mm-dd HH:MM:ss') <= process.env.POSTSEASON_END_TIME
			li.nav-item
				a.nav-link(href='/schedule/' + dateFormat(tomorrow, 'yyyy-mm-dd'))
					span.d-none.d-sm-inline #{dateFormat(tomorrow, 'mmmm d')} &raquo;
					span.d-sm-none #{dateFormat(tomorrow, 'mmm d')} &raquo;
