extends layout.pug

block title
	+title('Picks')

block content
	div.col-12.col-sm-10.col-md-8.col-lg-6.col-xl-5.p-0
		h4.text-center #{user.firstName} #{user.lastName}

		table.table.table-sm
			tr
				th.text-left Game
				th.text-left Pick
					
			each gamePick in gamePicks
				tr
					td
						p.mb-0 #{gamePick.game.away.team.teamName} at #{gamePick.game.home.team.teamName}
						p.mb-0: small #{gamePick.game.seriesDescription}, Game #{gamePick.game.seriesGameNumber}
					td.align-middle
						if gamePick.pick
							span #{gamePick.pick.player.name}
						else
							span No Hitter Picked
