extends layout.pug

block title
	+title('Standings')

block content
	div.col-12.col-sm-10.col-md-8.col-lg-6.col-xl-5.p-0
		table.table.table-sm
			tr
				th.text-center Rank
				th.text-left Player
				th.text-center.table-active Score

			each user in users
				tr
					td.text-center #{user.rank}
					td.text-left: a(href='/picks/' + user.username) #{user.firstName} #{user.lastName}
					td.text-center.table-active #{user.score}.#{user.tiebreaker.toString().padStart(2, '0')}
