extends ../layout.pug

block title
	+title('Edit User')

block content
	form(method='POST' action='/users/edit/' + user.username)
		if session.user.admin
			input(type='text' name='firstName' placeholder='first name' value=user.firstName)
			br
			input(type='text' name='lastName' placeholder='last name' value=user.lastName)
			br
			input(type='text' name='displayName' placeholder='display name' value=user.displayName)
			br
		input(type='password' name='password1' placeholder='New Password')
		input(type='password' name='password2' placeholder='Confirm New Password')
		br
		if session.user.admin
			input(type='checkbox' id='eligible' name='eligible' checked=user.isEligibleFor(process.env.SEASON) ? 'checked' : null)
			label(for='eligible') Eligible for the #{process.env.SEASON} season?
			br
		button(type='submit') Save
